<nav class="navbar navbar-white bg-white" id="footer">
    <div class="row p-2">
        <div class="col-sm-4">
            <div class="row text-center">
                <div class="col-lg-6">2019 © garantia.com</div>
                <div class="col-lg-6">Version 1.0.0</div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row text-center">
                <div class="col-lg-6"></div>
                <div class="col-lg-2"><a href="#">Contactanos</a></div>
                <div class="col-lg-2"><a href="#">Soporte</a></div>
                <div class="col-lg-2"><a href="#">Acerca de</a></div>
            </div>
        </div>
    </div>
</nav>